
<div class="container mt-5" >
    <form [formGroup]="forma"  (ngSubmit)="Login()" novalidate="novalidate" class="formGroup">
        <div class="form-group row mb-4">
            <div class="col-8">
                <input  
                    class="form-control"
                    type="email"
                    placeholder="Ingrese el correo"
                    formControlName="correo" 
                    [ngClass]="{'is-invalid':  (!forma.controls['correo'].valid || 
                    forma.controls['correo'].errors?.minlength) && 
                    forma.controls['correo'].touched, 'is-valid': forma.controls['correo'].valid }"
                >
            </div>
        </div>

        <div class="form-group row mb-4">
            <div class="col-8">
                <input  
                    class="form-control password-icon"
                    type="password"
                    placeholder="contraseña"
                    formControlName="password"
                    [ngClass]="{'is-invalid':  (!forma.controls['password'].valid || 
                    forma.controls['password'].errors?.minlength) && 
                    forma.controls['password'].touched, 'is-valid': forma.controls['password'].valid }"
                >
            </div>
        </div>

        <div class="form-group row">
            <div class="input-group col-md-12">
                <button [disabled]="!forma.valid" 
                        type="submit" 
                        id="RegisterForm"
                        class="btn btn-primary"
                        >
                        Entrar
                </button>
            </div>
        </div>

        <div class="form-group">
            <label>{{checkHuman[0]}} + {{checkHuman[1]}} = </label>
            <input formControlName="result" type="text">
        </div>

    </form>

    {{forma.invalid | json }}
</div>
